@import 'core/settings';

*{
	margin: 0;
	padding: 0;
	border: solid 1px blue;
}

body{
	background-color:pink;
}

.element{
	background-color:pink;
	color: fuchsia;
}

.favouriteShows{
	background-color: fuchsia;
	color: pink;
}

.list{
	display: flex;
	height: 100px;
}

.favourite-list{
	
}

