<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de series</title>
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>
    <h1 class="mainTitle">Buscador de series</h1>
    <input type="text" class="search-input" />
    <button type="button" class="search-btn">Search</button>
    <div class="list">
      <ul class="favourite-list"></ul>
      <ul class="show-list"></ul>
    </div>
    <script text="text/javascript" src="assets/js/main.js"></script>
  </body>
</html>
